
/*the basics, and works for FF*/
#busy_indicator {
	 display: none;
         margin:0px 0px 0px 0px;
	position:fixed;
	height: 100%;
	z-index:9999;
	padding-top:200px;
	padding-left:50px;
	width:100%;
	clear:none;
	background:url(/img/transbg2.png);
	
}


/*IE will need an 'adjustment'*/
* html #busy_indicator {
     position: absolute;
     height: expression(document.body.scrollHeight &gt; 
     document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#busy-indicator { display:none; }
