#navigation {
    width:100%;
   /* height:30px;*/
    height:25px;
    background-color:#0288D8;
    margin-bottom:3px;
    padding-top:3px;
    padding-bottom:3px;
}
.navigation {
    width:100%;
 
    height:25px;
    background-color:#0288D8;
    margin-bottom:3px;
    padding-top:3px;
    padding-bottom:3px;
}
#navigation ul{
  margin:0px; 
  padding:0px;
   font: bold 13px Verdana;
}

#navigation ul li {
    display:inline; 
    height:30px; 
    float:left; 
    list-style:none;
    margin-left: 15px;
    position:relative;
}

#navigation li a {
        color:white;
        text-decoration:none;
}

#navigation li a:hover {
    /*text-decoration:underline;*/
}

#navigation li ul {
    /*
    margin:0px;
    padding:0px;
    display:none;
    position:absolute;
    left:0px;
    top:20px;
    background-color:#0288D8;
   */
    display:none;
    position:absolute;
    top:20px;
    background-color:#0288D8;
}

#navigation li:hover ul {
    display:block;
    width:200px;
}

#navigation li li {
    list-style:none;
    display:list-item;
}

#navigation li a.selected
{
	background: #900;
}


.sidebarmenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: bold 13px Verdana;
    width: 200px; /* Main Menu Item widths */
    border-bottom: 1px solid #ccc;
}
 
.sidebarmenu ul li{
    position: relative;
   
}

/* Top level menu links style */
.sidebarmenu ul li a{
    display: block;
    overflow: auto; /*force hasLayout in IE7 */
  
    color: white;
    text-decoration: none;
   /* width:200px; */
    padding: 1px;
   /* border-bottom: 1px solid #778;
    border-right: 1px solid #778;
    */
}
/*
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
    background-color: #012D58;
}


.sidebarmenu ul li a:visited{
    color: white;
}

.sidebarmenu ul li a:hover{
    background-color: black;
}
*/

/*Sub level menu items */
.sidebarmenu ul li ul{
    position: absolute;
    width: 250px;/*Sub Menu Items width */  
    top: 0;
    visibility: hidden;
}

.sidebarmenu a.submenustyle{
        background: url(right.gif) no-repeat 97% 50%;
}

 
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */
