html, body{font-family:arial,helvetica,sans-serif;height: 100%;padding: 0; margin: 0; }
.hide-menu-trigger-close, .hide-menu-trigger-open, .collapse-panel-open, .collapse-panel-close{cursor:pointer}
.collapse-panel-open, .collapse-panel-close{font-weight:bold}
.menu-title{font-size:18px;font-weight:bold;background-color:#b5d3ff;}
.common-fieldset{ width:400px;  font-size:12px}
.common-fieldset fieldset label{ float:left;  width:120px}
.common-fieldset fieldset input[type=text], .common-fieldset fieldset input[type=password]{ float:left;  width:200px}
.common-long-fieldset select{ width:400px;  font-size:12px}
.common-long-fieldset fieldset label{ float:left;  width:100px}
.common-long-fieldset input[type=text], .common-long-fieldset input[type=file]{ width:400px;  font-size:12px}
.module-list li{width:200px;}
.module-list li a{font-size:12px; margin-left:10px; color:#000;text-align:center;}
.module-list li a:hover{color:#ccc;}
.module-list a.delete{display:block;width:20px;float:right;background-image:url(../img/delete.png); background-repeat:no-repeat; background-position:center right;text-indent:-5000px;}
.module-list a.add{display:block;width:20px;float:right;background-image:url(../img/add.png); background-repeat:no-repeat; background-position:center right;text-indent:-5000px;}
.menu-item{background-color:#B5D3FF;}
.search-area{ margin-top:40px;  margin-bottom:40px}
.message-box{text-align:center; padding:5px; color:#545454; /*width:80%;  margin:5px auto; 
*/ font-size:12px}
.clean{background-color:#efefef; border-top:2px solid #dedede; border-bottom:2px solid #dedede}
.info{background-color:#f7fafd; border-top:2px solid #b5d3ff; border-bottom:2px solid #b5d3ff}
.ok{background-color:#d7f7c4; border-top:2px solid #82cb2f; border-bottom:2px solid #82cb2f}
.alert{background-color:#fef5be; border-top:2px solid #fdd425; border-bottom:2px solid #fdd425}

div#header{background-color:#8DBDD8;clear:both;float:left;font-size:12px;height:40px;width:100%;margin-bottom:10px;}
div#content{height:100%;float:left;width: 100%; margin-bottom:20px;}
div#main{float:left;margin-left:20px;width:70%;}
div#flash-message{margin-bottom:5px;height:20px;}
div#footer{}

/*
* collapse row of table
*/
table.detail, table.detail td, table.detail th {
	border-collapse:collapse;
	border:1px solid black;
}
table.detail tr.parent {
	font-weight:bold;
}
/*
* collapse
*/
div.tree div {
 padding-left:16px;
}
div.tree div.parent div {
 display:none;
 cursor:default;
}
div.tree div.parent {
 cursor:pointer !important;
 background:transparent url(plus.gif) no-repeat top left;
}
div.tree div.expanded {
 background:transparent url(minus.gif) no-repeat top left;
}
